table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}
th {
	 background-color: #ffffff
}

tr:nth-child(even) {
    background-color: #f2f2f2
}